/DeleteMemberServlet.class
/InsertMemberServlet.class
/LoginServlet.class
/LogoutServlet.class
/UpdateMemberServlet.class
/JoinIdChkServlet.class
/KakaoLoginServlet.class
/SearchIdServlet.class
/SearchPwdServlet.class
